{# templates/me.html.twig #}


{% extends "base.html.twig" %}

{% block title %}Om mig{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    <p>Mitt namn är Liv och jag bor i Norrköping. Jag studerar kurspaketet Webbprogrammering och databaser samt jobbat som danslärare. På min fritid gillar jag att umgås med vänner, käka god mat och ta promenader.</p>
    <img src="img/me.jpeg" alt="Bild på mig">
{% endblock %}