{# templates/report.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Redovisningstexter{% endblock %}

{% block body %}
    <h1 id="kmom01">Redovisningstexter</h1>
    <p> Jag har arbetat lite med objektorienterad programmering förut. Främst i kursen oopython där vi jobbade med objektorienterade programmeringstekniker i Python. Däremot är det över ett år sedan jag läste kursen så jag kommer inte ihåg allt men kände igen vissa delar när jag gick igenom kursmaterialet för kmom01.</p>
    <p> Jag upplever att det gick bra att arbeta med PHP i detta kursmoment. PHP modell för klasser och objekt är att ett objekt skapas utifrån en klass och en klass är en modell som används för att skapa nya objekt. En klass kan innehålla egenskaper/properties (konstanter och variabler) och metoder (funktioner) som definierar objektet.</p>
    <p> Jag tycker att kodbasen för uppgiften me/report fungerade bra och strukturen är lite liknande som de vi använt i tidigare kurser. Däremot upplever jag den lite rörig med många olika mappar som man måste navigera mellan för att använda olika filer vilket jag inte direkt upplevt tidigare.</p>
    <p> Gällande artikeln “PHP The Right Way” så tycker jag att den verkar bra och hjälpfull. Det som jag anser verkar vara mer intressant är nog delen om Coding Practices för att hålla koll på grunderna i PHP. Jag tycker även att “Dependency Injection” verkar intressant och skulle vilja lära mig mer om för att minska exempelvis hårdkodning.</p>
    <p> Mitt TIL för kmom01 är att getters ger tillgång till privat data och setters kan sätta privata värden.</p>


    <h2 id="kmom01">kmom01</h2>
    <p>Text om kursmoment</p>

    <h2 id="kmom02">kmom02</h2>
    <p>Text om kursmoment</p>

    <h2 id="kmom03">kmom03</h2>
    <p>Text om kursmoment</p>

    <h2 id="kmom04">kmom04</h2>
    <p>Text om kursmoment</p>

    <h2 id="kmom05">kmom05</h2>
    <p>Text om kursmoment</p>

    <h2 id="kmom06">kmom06</h2>
    <p>Text om kursmoment</p>

    <h2 id="kmom10">kmom10</h2>
    <p>Text om kursmoment</p>

{% endblock %}